body {
    margin: 0;
    font-family: Arial;
    background: url(https://HIHIQY1.github.io/HIHIQY1/bg.png);
    color: white;
    overflow: hidden;
}

div#content-wrapper {
    position: absolute;
    top: 25%;
    left: 5%;
    width: 90%;
    height: 50%;
    text-align: center;
    box-shadow: 0 0 15px 0 white;
    border-radius: 2.5vh;
    overflow-x: hidden;
    overflow-y: auto;
}
div#content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
div#content * {
    margin: 0;
}

.main-panel {
    position: absolute;
}

.level-button {
    position: relative;
    float: left;
    margin-top: 5vh;
    margin-left: 5%;
    width: 42.5%;
    height: 25vh;
    background-color: rgba(255, 255, 255, .25);
    box-shadow: 0 0 15px 0 white;
    border-radius: 2.5vh;
    font-size: 8vh;
    cursor: pointer;
}
.level-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}